<div class="container">
	<div class="visualisation">
        <div class="panel">
            <div class="value"></div>
        </div>
    </div>
    <div class="sections">
        <div class="section">
            <div class="panel justify-center">
                <h1>Who really decides?</h1>
                <div class="image">
                    <img src="assets/Ballot_Box.svg" />
                </div>
                <div class="box">
                    <p>In Australia all votes are created equal, but some votes are more equal than others.</p>
                </div>
            </div>
        </div>
        <div class="section" data-multiplier="1">
            <div class="panel">
                <div class="box">
                    <p>This is the population of Australia.</p>
                </div>
            </div>
        </div>
        <div class="section" data-multiplier="0.68309046">
            <div class="panel">
                <div class="box">
                    <p>Let’s remove anyone who can’t vote because they’re under 18 years old.</p>
                </div>
            </div>
        </div>
        <div class="section" data-multiplier="0.934974169">
            <div class="panel">
                <div class="box">
                    <p>Now let’s remove anyone who isn’t registered to vote.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="panel justify-between">
                <div class="box">
                    <p>For a change in government to occur, marginal seats must swing to the opposition. The Australian Electoral Commission defines a marginal seat as having been won by less than 5%.</p>
                </div>
                <div class="box">
                    <p>Now we are only going to show the population in marginal seats. Go ahead and choose a margin- you might choose a tighter margin than the AEC.</p>
                </div>
            </div>
        </div>
        <div class="section" data-multiplier="1">
            <div class="panel">
                <div class="box">
                    <p>Marginal seats held by:</p>
                    <button data-multiplier-choice="0.34">&lt;5%</button>
                    <button data-multiplier-choice="0.166">&lt;3%</button>
                    <button data-multiplier-choice="0.12">&lt;2%</button>
                </div>
            </div>
        </div>
        <div class="section" data-multiplier="0.3">
            <div class="panel">
                <div class="box">
                    <p>The average number of swing voters in any given marginal seat is 54%. The swing voters hold the power to change government. Let’s remove anyone who isn’t a swing voter.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="panel">
                <div class="box">
                    <p>So the population of Australia might be around twenty-four million but only a small proportion really make a difference to the outcome of a federal election.</p>
                </div>
            </div>
        </div>
    </div>
</div>
