*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 75%;
    font-size: calc(50% + 1.425vw); // vmin?
}

@media (min-width: $breakpoint) {
    html {
        font-size: 100%;
    }
}

body {
    color: $textColor;
    background-color: $backgroundColor;
    font-family: $bodyFont;
    transition: .25s background-color;
}

body.alt {
    background-color: $altBackgroundColor;
}

h1,
h2 {
    font-weight: normal;
    font-family: $cursiveFont;
}

h1 {
    font-size: 4rem;
    line-height: 1;
    text-align: center;
}

.image {
    margin: 1rem auto;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

h1 + .image img {
    max-width: 80%;
}
