$breakpoint: 700px;

$bodyFont: 'Open Sans', sans-serif;
$cursiveFont: 'Pacifico', cursive;

$textColor: #fff;
$backgroundColor: #3291F0;
$altBackgroundColor: #0057AD;


$boxBackgroundColor: rgba(0, 73, 145, 0.75);
$altBoxBackgroundColor: rgba(0, 128, 255, 0.75);
