.visualisation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1.5s opacity, 1.5s transform;
}

.visualisation.peeking {
    transform: translate(0, 57.5%);
}

.visualisation.hiding {
    opacity: 0;
}

.visualisation .value {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.25rem;
    transition: 1.5s opacity;
}

.visualisation .value::before {
    content: 'Approximately';
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1rem;
    color: $altTextColor
}

.visualisation.peeking .value {
    opacity: 0;
}

.visualisation .legend {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    padding-left: 1.5rem;
    text-align: center;
    color: $altTextColor;
}

.visualisation .legend::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fff;
}

.visualisation circle {
    fill: #fff;
}
